<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browsername" value="ff"></parameter>
	<test thread-count="5" name="Login Test ch">
		<classes>
			<class name="com.vfislk.openemrtest.LoginTest">
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
